<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Make Payment</div>
                    <div class="panel-body">
                        <form name="paymentForm" id="paymentForm" action="pay" method="post" v-on:submit.prevent>
                            <input type="hidden" name="_token" v-bind:value="csrf_token">
                            <input type="hidden" id="nonce" name="payment_method_nonce">
                            <div class="form-group">
                                <label for="name">Customer Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter customer name" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Customer Phone Number</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter customer phone number" required>
                            </div>
                            <div class="form-group">
                                <label for="currency">Currency</label>
                                <select class="form-control" id="currency" name="currency" required>
                                    <option v-for="currency in currencies">{{ currency }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" required>
                            </div>
                            <div class="form-group">
                                <label for="cardholder">Card holder</label>
                                <input type="text" class="form-control" id="cardholder" name="cardholder" placeholder="Enter card holder" required>
                            </div>
                            <div id="dropin-container"></div>
                            <hr>
                            <button id="payment-button" class="btn btn-primary btn-flat" type="submit">Pay now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currencies: config.currencies, // For demo purpose, in the real world
                csrf_token: axios.defaults.headers.common['X-CSRF-TOKEN'],
            }
        },

        methods: {
            validateForm: () => {
                return $("#paymentForm").valid();
            },

            attempt: function (payload) {
                console.log(payload);
                if (payload.details.cardType == 'American Express') {
                    if ($('#currency').val() != 'USD') {
                        swal({
                            title: 'Error',
                            text: 'Sorry!  AMEX is possible to use only for USD',
                            type: 'error',
                            confirmButtonText: 'Close'
                        })
                        return;
                    }
                    swal({
                        title: 'Error',
                        text: 'Sorry! Please choose Paypal for the payment',
                        type: 'error',
                        confirmButtonText: 'Close'
                    })
                    return;
                }
                if ( ['USD', 'EUR', 'AUD'].includes($('#currency').val()) && payload.type == 'CreditCard') {
                    swal({
                        title: 'Error',
                        text: 'Sorry! Please choose Paypal for the payment!',
                        type: 'error',
                        confirmButtonText: 'Close'
                    })
                    return;
                }

                if (this.validateForm()) {
                    $('#nonce').val(payload.nonce);
                    document.paymentForm.submit();
                }
            },
        },

        mounted() {
            axios.get('braintree/token')
                .then((response) => {
                    var button = document.querySelector('#payment-button');

                    braintree.dropin.create({
                        authorization: response.data.data.token,
                        container: '#dropin-container',
                        paypal: {
                            flow: 'vault'
                        }
                    }, (createErr, instance) => {
                        button.addEventListener('click', () => {
                            instance.requestPaymentMethod((requestPaymentMethodErr, payload) => {
                                if (payload) {
                                    this.attempt(payload);
                                }
                            });
                        });
                    });
                })
                .catch(function(error) {
                    swal({
                        title: 'Error',
                        text: 'Please correct the payment form',
                        type: 'error',
                        confirmButtonText: 'Close'
                    })
                });
        }
    }
</script>
