<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Check Payment Record</div>
                    <div class="panel-body">
                        <form name="checkRecord" id="checkRecord" action="record" method="post">
                            <input type="hidden" name="_token" v-bind:value="csrf_token">
                            <input type="hidden" id="nonce" name="payment_method_nonce">
                            <div class="form-group">
                                <label for="name">Customer name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter customer name" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Payment reference code</label>
                                <input type="text" class="form-control" id="ref" name="ref" placeholder="Enter payment reference code" required>
                            </div>
                            <button id="check-button" class="btn btn-primary btn-flat" type="submit">Check</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                csrf_token: axios.defaults.headers.common['X-CSRF-TOKEN'],
            }
        }
    }
</script>
